# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives** :
- Popular languages for data science
- popular libraries for data science
- arithmetic expressions in python

some of the popular languages that Data Scientists use are :
1. Python
2. SQL
3. R

some of the commonly used libraries used by Data Scientists include :
1. Panda.
2. NumPy.
3. PyTorch.

|Data Science Tools| Hadoop | Spark | Weka |
|------------------|--------|-------|------|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [3]:
 # This is a simple arithmetic expression to multiply then add numbers
(3*4)+5

17

In [9]:
# This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

## Author
Tanav